@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
body {
  @apply bg-black text-slate-200;
}

/* Ensure proper scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-[#0a0a0a];
}

::-webkit-scrollbar-thumb {
  @apply bg-[#333] rounded;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-[#555];
}
